/* stylelint-disable selector-class-pattern */
/* stylelint-disable font-family-name-quotes */
/* stylelint-disable alpha-value-notation */
/* stylelint-disable color-function-notation */
@import 'https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
